In [21]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [22]:
ser1 = Series(2 * np.arange(3), index=['A','B','C'])
ser1

A    0
B    2
C    4
dtype: int64

In [23]:
ser1['B']

2

In [24]:
ser1[1]

2

In [25]:
type(ser1[1])

numpy.int64

In [26]:
type(ser1[1:2])

pandas.core.series.Series

In [27]:
ser1[1:2]

B    2
dtype: int64

In [28]:
ser1[['A','B']]

A    0
B    2
dtype: int64

In [29]:
ser1[ser1>3]

C    4
dtype: int64

In [34]:
ser1[ser1>3] = 10

In [35]:
ser1

A     0
B     2
C    10
dtype: int64

In [36]:
df = DataFrame(np.arange(25).reshape((5,5)), index=['NYC','LA','SF','DC','Chi'], columns=['A','B','C','D','E'])

In [37]:
df

      A   B   C   D   E
NYC   0   1   2   3   4
LA    5   6   7   8   9
SF   10  11  12  13  14
DC   15  16  17  18  19
Chi  20  21  22  23  24

In [38]:
df['B']

NYC     1
LA      6
SF     11
DC     16
Chi    21
Name: B, dtype: int64

In [41]:
df[['B','C']]

      B   C
NYC   1   2
LA    6   7
SF   11  12
DC   16  17
Chi  21  22

In [42]:
df[df['C'] > 8]

      A   B   C   D   E
SF   10  11  12  13  14
DC   15  16  17  18  19
Chi  20  21  22  23  24

In [43]:
df['C'] > 8

NYC    False
LA     False
SF      True
DC      True
Chi     True
Name: C, dtype: bool

In [44]:
df>8

         A      B      C      D      E
NYC  False  False  False  False  False
LA   False  False  False  False   True
SF    True   True   True   True   True
DC    True   True   True   True   True
Chi   True   True   True   True   True

In [45]:
df.ix['LA']

A    5
B    6
C    7
D    8
E    9
Name: LA, dtype: int64

In [46]:
type(df.ix)

pandas.core.indexing._IXIndexer

In [47]:
df.ix[1]

A    5
B    6
C    7
D    8
E    9
Name: LA, dtype: int64