In [17]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [2]:
my_ser = Series([1,2,3,4], index=['A','B','C','D'])
my_ser

A    1
B    2
C    3
D    4
dtype: int64

In [3]:
my_index = my_ser.index
my_index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [4]:
my_index[0]

'A'

In [6]:
my_index[2:]

Index(['C', 'D'], dtype='object')

In [7]:
my_index[0] = 'Z'

TypeError: Index does not support mutable operations

In [9]:
ser2 = my_ser.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [11]:
my_ser

A    1
B    2
C    3
D    4
dtype: int64

In [13]:
ser2.reindex(['A','B','C','D','E','F','Z'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
Z    0.0
dtype: float64

In [14]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [15]:
ser3.reindex(range(15), method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [18]:
df = DataFrame(randn(25).reshape((5,5)), index=['A','B','D','E','F'], columns=['col1','col2','col3','col4','col5'])
df

       col1      col2      col3      col4      col5
A -0.067788 -1.101105  0.691659 -1.256054  0.963064
B -1.892857 -0.993709  0.135898  0.185915 -0.740067
D -0.986868 -2.238759 -1.353022 -1.185425  0.983779
E -0.591596 -0.322115  0.062977  0.237035  0.880675
F  0.127456 -2.010763  0.719411  0.409860 -1.117616

In [19]:
new_index = ['A','B','C','D','E','F']
df2 = df.reindex(new_index)
df2

       col1      col2      col3      col4      col5
A -0.067788 -1.101105  0.691659 -1.256054  0.963064
B -1.892857 -0.993709  0.135898  0.185915 -0.740067
C       NaN       NaN       NaN       NaN       NaN
D -0.986868 -2.238759 -1.353022 -1.185425  0.983779
E -0.591596 -0.322115  0.062977  0.237035  0.880675
F  0.127456 -2.010763  0.719411  0.409860 -1.117616

In [20]:
new_columns=['col1','col2','col3','col4','col5','col6']
df2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -0.067788 -1.101105  0.691659 -1.256054  0.963064   NaN
B -1.892857 -0.993709  0.135898  0.185915 -0.740067   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.986868 -2.238759 -1.353022 -1.185425  0.983779   NaN
E -0.591596 -0.322115  0.062977  0.237035  0.880675   NaN
F  0.127456 -2.010763  0.719411  0.409860 -1.117616   NaN

In [21]:
df

       col1      col2      col3      col4      col5
A -0.067788 -1.101105  0.691659 -1.256054  0.963064
B -1.892857 -0.993709  0.135898  0.185915 -0.740067
D -0.986868 -2.238759 -1.353022 -1.185425  0.983779
E -0.591596 -0.322115  0.062977  0.237035  0.880675
F  0.127456 -2.010763  0.719411  0.409860 -1.117616

In [22]:
df.ix[new_index, new_columns]

       col1      col2      col3      col4      col5  col6
A -0.067788 -1.101105  0.691659 -1.256054  0.963064   NaN
B -1.892857 -0.993709  0.135898  0.185915 -0.740067   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.986868 -2.238759 -1.353022 -1.185425  0.983779   NaN
E -0.591596 -0.322115  0.062977  0.237035  0.880675   NaN
F  0.127456 -2.010763  0.719411  0.409860 -1.117616   NaN

In [23]:
df

       col1      col2      col3      col4      col5
A -0.067788 -1.101105  0.691659 -1.256054  0.963064
B -1.892857 -0.993709  0.135898  0.185915 -0.740067
D -0.986868 -2.238759 -1.353022 -1.185425  0.983779
E -0.591596 -0.322115  0.062977  0.237035  0.880675
F  0.127456 -2.010763  0.719411  0.409860 -1.117616