In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('lec25.csv')
df

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

In [4]:
!cat lec25.csv

q,r,s,t,apple
2,3,4,5,pear
a,s,d,f,rabbit
5,2,5,7,dog

In [5]:
!wc lec25.csv

       4       4      54 lec25.csv

In [6]:
!emacs -nw lec25.csv

7=----:---F1  *scratch*      All L1     (Fundamental)-----------------------------
7=For information about the GNU Project and its goals, type C-h C-p.
Loading image...
done
Loading image...doneq,r,s,t,apple
2,3,4,5,pear
a,s,d,f,rabbit
5,2,5,7,dog


















-uu-:---F1  lec25.csv      All L1     (Fundamental)-----------------------------

In [7]:
!ps

  PID TTY           TIME CMD
  423 ttys000    0:00.03 /Applications/iTerm.app/Contents/MacOS/iTerm2 --server
  456 ttys000    0:00.79 -zsh
  763 ttys001    0:00.03 /Applications/iTerm.app/Contents/MacOS/iTerm2 --server
  765 ttys001    0:00.17 -zsh
 5539 ttys001    0:25.98 /Users/keiji/anaconda/bin/python /Users/keiji/anaconda

In [8]:
df

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

In [9]:
df2 = pd.read_csv('lec25.csv', header=None)
df2

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [11]:
df3 = pd.read_table('lec25.csv', sep=',', header=None)
df3

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [14]:
pd.read_csv('lec25.csv', header=None, nrows=2)

   0  1  2  3      4
0  q  r  s  t  apple
1  2  3  4  5   pear

In [16]:
df2

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [17]:
df2.to_csv('mytextdata_out.csv')

In [18]:
!cat mytextdata_out.csv

,0,1,2,3,4
0,q,r,s,t,apple
1,2,3,4,5,pear
2,a,s,d,f,rabbit
3,5,2,5,7,dog

In [19]:
import sys
df.to_csv(sys.stdout)

,q,r,s,t,apple
0,2,3,4,5,pear
1,a,s,d,f,rabbit
2,5,2,5,7,dog

In [21]:
df.to_csv(sys.stdout, sep='ぬ')

ぬqぬrぬsぬtぬapple
0ぬ2ぬ3ぬ4ぬ5ぬpear
1ぬaぬsぬdぬfぬrabbit
2ぬ5ぬ2ぬ5ぬ7ぬdog