In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In clipboard:
```
Rank	Team	Won	Lost	Tied	Pct.	First NFL Season	Total Games	Division
1	Chicago Bears	741	555	42	.570	1920	1,338	NFC North
2	Dallas Cowboys	480	364	6	.568	1960	850	NFC East
3	Green Bay Packers	720	547	37	.566	1921	1,304	NFC North
4	Miami Dolphins	429	335	4	.561	1966	768	AFC East
5	New England Patriots	462	381	9	.548	1960	852	AFC East
6	San Francisco 49ers	520	436	14	.543	1950	970	NFC West
7	Baltimore Ravens	173	146	1	.542	1996	320	AFC North
```

In [2]:
nfl_frame = pd.read_clipboard()
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West
6,7,Baltimore Ravens,173,146,1,0.542,1996,320,AFC North

In [3]:
type(nfl_frame)

pandas.core.frame.DataFrame

In [4]:
nfl_frame.columns

Index(['Rank', 'Team', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Total Games', 'Division'],
      dtype='object')

In [5]:
nfl_frame['First NFL Season']

0    1920
1    1960
2    1921
3    1966
4    1960
5    1950
6    1996
Name: First NFL Season, dtype: int64

In [6]:
type(nfl_frame['First NFL Season'])

pandas.core.series.Series

In [7]:
nfl_frame.Team

0           Chicago Bears
1          Dallas Cowboys
2       Green Bay Packers
3          Miami Dolphins
4    New England Patriots
5     San Francisco 49ers
6        Baltimore Ravens
Name: Team, dtype: object

In [8]:
type(nfl_frame.Team)

pandas.core.series.Series

In [9]:
two_cols = nfl_frame[['Team', 'First NFL Season']]
two_cols

                   Team  First NFL Season
0         Chicago Bears              1920
1        Dallas Cowboys              1960
2     Green Bay Packers              1921
3        Miami Dolphins              1966
4  New England Patriots              1960
5   San Francisco 49ers              1950
6      Baltimore Ravens              1996

In [10]:
type(two_cols)

pandas.core.frame.DataFrame

In [11]:
one_col = nfl_frame[['Team']]

In [12]:
type(one_col)

pandas.core.frame.DataFrame

In [13]:
one_col

                   Team
0         Chicago Bears
1        Dallas Cowboys
2     Green Bay Packers
3        Miami Dolphins
4  New England Patriots
5   San Francisco 49ers
6      Baltimore Ravens

In [14]:
two_cols.head()

                   Team  First NFL Season
0         Chicago Bears              1920
1        Dallas Cowboys              1960
2     Green Bay Packers              1921
3        Miami Dolphins              1966
4  New England Patriots              1960

In [15]:
two_cols.head(2)

             Team  First NFL Season
0   Chicago Bears              1920
1  Dallas Cowboys              1960

In [16]:
two_cols.tail(2)

                  Team  First NFL Season
5  San Francisco 49ers              1950
6     Baltimore Ravens              1996

In [17]:
nfl_frame.ix[3]

Rank                             4
Team                Miami Dolphins
Won                            429
Lost                           335
Tied                             4
Pct.                         0.561
First NFL Season              1966
Total Games                    768
Division                  AFC East
Name: 3, dtype: object

In [18]:
type(nfl_frame.ix[3])

pandas.core.series.Series

In [20]:
nfl_frame['Stadium'] = 'Levi\'s Stadium'

In [21]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,Levi's Stadium
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,Levi's Stadium
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,Levi's Stadium
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,Levi's Stadium
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,Levi's Stadium
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West,Levi's Stadium
6,7,Baltimore Ravens,173,146,1,0.542,1996,320,AFC North,Levi's Stadium

In [24]:
nfl_frame['Stadium'] = np.arange(7)
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,0
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,1
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,2
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,3
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,4
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West,5
6,7,Baltimore Ravens,173,146,1,0.542,1996,320,AFC North,6

In [26]:
stadiums = Series(["Levi's Stadium", "AT&T Stadium"], index=[4,0])
stadiums

4    Levi's Stadium
0      AT&T Stadium
dtype: object

In [27]:
nfl_frame['Stadium'] = stadiums
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,AT&T Stadium
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,NaN
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,NaN
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,NaN
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,Levi's Stadium
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West,NaN
6,7,Baltimore Ravens,173,146,1,0.542,1996,320,AFC North,NaN

In [28]:
del nfl_frame['Stadium']

In [29]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West
6,7,Baltimore Ravens,173,146,1,0.542,1996,320,AFC North

In [30]:
datadict = {'City': ['SF', 'LA', 'NYC'], 'Population': [837000, 3880000,8400000]}
datadict

{'City': ['SF', 'LA', 'NYC'], 'Population': [837000, 3880000, 8400000]}

In [31]:
city_frame = DataFrame(datadict)
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000