In [1]:
import pandas as pd
from pandas import Series

In [2]:
obj = Series([3,6,9,12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [3]:
obj.values

array([ 3,  6,  9, 12])

In [4]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
ww2_cas = Series([8700000, 4300000, 3000000, 2100000, 400000], index=['USSR', 'Germany', 'China', 'Japan', 'USA'])
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [7]:
ww2_cas['USA']

400000

In [8]:
ww2_cas > 4000000

USSR        True
Germany     True
China      False
Japan      False
USA        False
dtype: bool

In [9]:
ww2_cas[ww2_cas > 4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [10]:
'USSR' in ww2_cas

True

In [15]:
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

In [16]:
Series(ww2_dict)

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [18]:
countries = ['USSR', 'Germany', 'China', 'Japan', 'USA', 'Argentina']

In [19]:
obj2 = Series(ww2_dict, index=countries)
obj2

USSR         8700000.0
Germany      4300000.0
China        3000000.0
Japan        2100000.0
USA           400000.0
Argentina          NaN
dtype: float64

In [20]:
pd.isnull(obj2)

USSR         False
Germany      False
China        False
Japan        False
USA          False
Argentina     True
dtype: bool

In [21]:
pd.notnull(obj2)

USSR          True
Germany       True
China         True
Japan         True
USA           True
Argentina    False
dtype: bool

In [22]:
obj2[pd.notnull(obj2)]

USSR       8700000.0
Germany    4300000.0
China      3000000.0
Japan      2100000.0
USA         400000.0
dtype: float64

In [24]:
ww2_cas + obj2

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64

In [25]:
obj2.name = u'第二次世界大戦の死傷者数'
obj2

USSR         8700000.0
Germany      4300000.0
China        3000000.0
Japan        2100000.0
USA           400000.0
Argentina          NaN
Name: 第二次世界大戦の死傷者数, dtype: float64

In [28]:
obj2.index.name = u'★Countries★'

In [29]:
obj2

★Countries★
USSR         8700000.0
Germany      4300000.0
China        3000000.0
Japan        2100000.0
USA           400000.0
Argentina          NaN
Name: 第二次世界大戦の死傷者数, dtype: float64